<div class="container">
  <h3 class="title">Shipping Address</h3>
  <br><br>
  <form [formGroup]="pincodeForm">
    <div class="row">
      <div class="row col-sm-5">

        <div class="form-group">
          <label for="pincode">Pincode</label>
          <input type="text" id="pincode" name="pincode" formControlName="pincode" class="form-control"
            placeholder="Pincode" autocomplete="off" (blur)="onGetAddress()">
        </div>

        <div class="form-group">
          <label for="city">Area </label>
          <input type="text" id="area" name="area" formControlName="area" placeholder="Area" class="form-control"
            autocomplete="off">
        </div>

        <div class="form-group">
          <label for="city">City </label>
          <input type="text" id="city" name="city" formControlName="city" placeholder="City" class="form-control"
            autocomplete="off">
        </div>

        <div class="form-group">
          <label for="lastname">State</label>
          <input type="text" id="state" name="state" formControlName="state" class="form-control"
            placeholder="State" autocomplete="off">
        </div>

        <div class="form-group">
          <label for="lastname">Country</label>
          <input type="text" id="country" name="country" formControlName="country" class="form-control"
            placeholder="Country" autocomplete="off">
        </div>
      </div>
    </div>
  </form>
</div>
